<div class="container model-menu">
  <div class="model-menu-item active">
    <span>Tüm Modeller</span>
  </div>
  <div class="model-menu-item">
    <span>Kompakt</span>
  </div>
  <div class="model-menu-item">
    <span>Sedan</span>
  </div>
  <div class="model-menu-item">
    <span>Coupé</span>
  </div>
  <div class="model-menu-item">
    <span>Cabriolet/Roadster</span>
  </div>
  <div class="model-menu-item">
    <span>SUV</span>
  </div>
  <div class="model-menu-item">
    <span>AMG</span>
  </div>
</div>
<div class="main-container">
<app-product></app-product>
<app-product></app-product>
<app-product></app-product>
<app-product></app-product>
<app-product></app-product>
<app-product></app-product>
</div>

