/*MODEL MENU*/

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.model-menu-item {
  border-left: 1px solid #333;
  padding: 8px 16px;
  color: #333;
}

.model-menu-item:first-child {
  border: none !important;
}

.model-menu-item:hover {
  cursor: pointer;
  color: #00adef;
}

.active {
  color: #00adef;
}

.display-none{
  display: none;
}

/*PRODUCT SECTION*/

.main-container {
  margin-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;
}
