<div class="container model-menu {{controlResult}}">
  <div id="All" class="model-menu-item active" (click)="OnClick($event)">
    <span>Tüm Modeller</span>
  </div>
  <div id="Kompakt" class="model-menu-item" (click)="OnClick($event)">
    <span>Kompakt</span>
  </div>
  <div id="Sedan" class="model-menu-item" (click)="OnClick($event)">
    <span>Sedan</span>
  </div>
  <div id="Coupe" class="model-menu-item" (click)="OnClick($event)">
    <span>Coupé</span>
  </div>
  <div id="Cabriolet-Roadster" class="model-menu-item" (click)="OnClick($event)">
    <span>Cabriolet/Roadster</span>
  </div>
  <div id="SUV" class="model-menu-item" (click)="OnClick($event)">
    <span>SUV</span>
  </div>
  <div id="AMG" class="model-menu-item" (click)="OnClick($event)">
    <span>AMG</span>
  </div>
</div>
<div class="main-container">
  <app-product [sharedResponseData]="responseData"></app-product>
</div>
