<nav>
  <div class="main-container">
    <div class="col-left">
      <div class="logo-box">
        <img src="../../assets/images/logo-new.png" alt="">
      </div>
      <div class="title-box">
        <img src="../../assets/images/mb-pc-logo@2x.png" alt="">
      </div>
    </div>
    <div class="col-right">
      <div class="navbar">
        <!--active classı kullanılacak-->
        <a class="nav-link {{isActive}}" (click)="navClick()">Modeller<i class="{{arrowStatus}}-arrow"></i></a>
        <a href="" class="nav-link">Araç Karşılaştırma <span>0</span></a>
        <a href="" class="nav-link">Ödeme Koşulları</a>
        <a href="" class="nav-link">Bayi Arama</a>
      </div>
    </div>
  </div>
  <div class="submenu {{displayStatus}}">
    <div class="container">
      <div class="submenu-item d-flex" (click)="subClickFeatured()">
        <span>Öne Çıkanlar</span>
      </div>
      <div class="submenu-item d-flex active" (click)="subClickModels()">
        <span>Modeller</span>
      </div>
    </div>
  </div>
</nav>
