<nav>
  <div class="main-container">
    <div class="col-left">
      <div class="logo-box">
        <img src="../../assets/images/logo-new.png" alt="">
      </div>
      <div class="title-box">
        <img src="../../assets/images/mb-pc-logo@2x.png" alt="">
      </div>
    </div>
    <div class="col-right">
      <div class="navbar">
        <a href="" class="nav-link active">Modeller<i class="up-arrow"></i></a>
        <a href="" class="nav-link">Araç Karşılaştırma <span>0</span></a>
        <a href="" class="nav-link">Ödeme Koşulları</a>
        <a href="" class="nav-link">Bayi Arama</a>
      </div>
    </div>
  </div>
  <div class="submenu">
    <div class="container">
      <div class="d-flex active">
        <span>Öne Çıkanlar</span>
      </div>
      <div class="d-flex">
        <span>Modeller</span>
      </div>
    </div>
  </div>
</nav>


