<footer>
  <div class="footer-top">
    <div class="container">
      <div class="map">
        <div class="map-item">
          <a href="">Otomobil <i class="right-arrow"></i></a>
        </div>
        <div class="map-item active">
          <a href="">Fiyat Listeleri</a>
        </div>
      </div>
      <div class="social-media">
        <span>Sosyal Medyada Mercedes-Benz:</span>
        <div class="social-media-links">
          <a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href=""><i class="fa fa-instagram fa-2x"></i></a>
          <a href=""><i class="fa fa-youtube-play fa-2x"></i></a>
          <a href=""><i class="fa fa-twitter fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bot">
    <div class="container company">
      <div class="company-link">
        <a href="">Bilgi Toplumu Hizmetleri</a>
      </div>
      <div class="company-link">
        <a href="">&copy; 2020 Mercedes Benz Otomotiv Ticaret ve Hizmetler A.Ş.</a>
      </div>
      <div class="company-link">
        <a href="">Çerezler</a>
      </div>
      <div class="company-link">
        <a href="">Veri Gizliliği</a>
      </div>
      <div class="company-link">
        <a href="">Yasal Uyarılar</a>
      </div>
    </div>
  </div>

</footer>
