<div class="card">
  <div class="card-top">
    <span id="product-model">Kompakt</span>
    <img id="product-img" src="https://ppricecms-prepricecms.azurewebsites.net/uploads/images/kompakt_a-serisi%402x.png"
      alt="">
  </div>
  <div class="card-bot">
    <span id="product-name">A-Serisi</span>
    <div id="product-status">
      <div id="discountable" class="pentagon">%</div>
      <div id="new" class="pentagon">Yeni</div>
    </div>
    <br>
    <span id="product-slogan">Çok orijinal.Aynı sen.</span>
  </div>
</div>
