<div class="container">
  <div class="card" *ngFor="let product of products; index as i">
    <div class="card-top {{markerData[i].marker}}">
      <span class="product-model {{markerData[i].display}}">{{product.Model}}</span>
      <img class="product-img {{markerData[i].top}}" src="{{product.ImgSrc}}" alt="">
    </div>
    <div class="card-bot"> 
      <span class="product-name">{{product.Name}}</span>
      <div class="product-status">
        <div *ngIf="product.Discountable" class="pentagon discountable">%</div>
        <div *ngIf="product.IsNew" class="pentagon new">Yeni</div>
      </div>
      <br>
      <span class="product-slogan">{{product.Slogan}}</span>
    </div>
  </div>
</div>
