<div class="container">
  <div class="card" *ngFor="let product of products">
    <div class="card-top">
      <span id="product-model">{{product.Model}}</span>
      <img id="product-img" src="{{product.ImgSrc}}" alt="">
    </div>
    <div class="card-bot">
      <span id="product-name">{{product.Name}}</span>
      <div id="product-status">
        <div *ngIf="product.Discountable" id="discountable" class="pentagon">%</div>
        <div *ngIf="product.IsNew" id="new" class="pentagon">Yeni</div>
      </div>
      <br>
      <span id="product-slogan">{{product.Slogan}}</span>
    </div>
  </div>
</div>
