* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

.main-container,
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.d-flex {
  display: flex;
}


.down-arrow,
.up-arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.pentagon {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-left: 2px;
  padding-top: 5px;
  font-size: 9px;
  text-align: center;
  color: #fff;
  background: #00adef;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

@media screen and (max-width: 992px) {
  .card {
    width: 33% !important;
  }

  .title-box {
    display: none;
  }

  .nav-link {
    padding: 8px 10px 25px 10px !important;
  }
  footer {
    height: 250px !important;
    margin-top: 100px !important;

  }
  .footer-top .container {
    justify-content: flex-end !important;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: wrap !important;
    flex-direction: row-reverse !important;

  }
  .map {
    margin-top: 0 !important;
    border-top: none !important;
    justify-content: center !important;
  }

  .social-media {

    padding: 30px 5px 20px 5px !important;

    align-items: center !important;
  }

  .social-media-links {
    margin-top: 10px !important;
    width: 40% !important;
  }

  .footer-bot .container {
    justify-content: center !important;

    flex-wrap: nowrap !important;
    flex-direction: row !important;
  }


}

@media screen and (max-width: 768px) {
  .card {
    width: 50% !important;
  }
  .main-container {
    height: 80% !important;
  }
  .nav-link {
    border: none !important;
    font-size: 12px !important;
    padding: 5px 5px 5px 5px !important;
  }
  
}

@media screen and (max-width: 576px) {
  .card {
    width: 100% !important;
  }
  .navbar{
    display: none;
  }
  .main-container {
    height: 80% !important;
  }
  .nav-link {
    font-size: 12px !important;
    padding: 5px 5px 5px 5px !important;
  }
  .model-menu{
    flex-wrap: wrap !important;
  }
  .model-menu-item {
    border-left:none !important;
    padding: 16px 16px !important;
    font-size: 17px;
    font-weight: bold;
  }
}